# Testes

In [8]:
print("Hello world")

Hello world

In [12]:
a = 7
b = 7.0
print(a == b)

True

In [13]:
a = 7
print(True == a)

False

In [14]:
a = 'joao'
print(a + 5)

TypeError: can only concatenate str (not "int") to str

In [15]:
a = 'joao'
print(2 * a)

joaojoao

In [16]:
a = 10.0
b = 5
c = a // b
print(c)
print(type(c))

2.0
<class 'float'>

In [17]:
list = {'nome':'joao'}
print("Name: {}".format(list["nome"]))

 Name: joao

In [6]:
import sys

sys.getsizeof(float())

(24,)

#First Problem

In [14]:
nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")

f"Nome: {nome}, Idade: {idade}, daqui a 10 anos teras {int(idade) + 10} anos"

'Nome: joao, Idade: 10, daqui a 10 anos teras 20 anos'

In [2]:
a = 0 

if a == 0: 
    print('True' .format(a))
else:
    print('False' .format(a))

True

In [5]:
secret = "Mary"

password = input("Enter your password: ")

if password == secret:
    print("Welcome")
else:
    print("Wrong password")

Welcome

In [6]:
minor = 18
adult = 65
senior = 80

age = int(input("Enter your age: "))

if age <= minor:
    print("You are a minor")
elif age <= adult:
    print("You are an adult")
elif age <= senior:
    print("You are a senior")
else:
    print("You are a super senior")

You are an adult

In [7]:
for i in range(10, 20 , 2):
    print(i)

10
12
14
16
18

In [8]:
for i in range(10, 20 ,-1):
    print(i)

In [14]:
for i in "Mary":
    print(i)

M
a
r
y

In [15]:
sentence = "Mary had a little lamb"

new_sentence = ""

for i in sentence:
    if i == ' ':
        continue
    new_sentence = new_sentence + i
print(new_sentence)

Maryhadalittlelamb

In [20]:
def x_dividing_by_y(x, y):
    try:
        return x / y
    except TypeError:
        return "You must enter a number"
    except ZeroDivisionError:
        return "You can't divide by zero"

0.5

In [23]:
def print_hello_world():
    print("Hello world")

print_hello_world()

Hello world

In [24]:
def print_hello(name):
    print("Hello {}".format(name))

print_hello("Mary")

Hello Mary

##Lists

In [4]:
pencil_case = ["pen", "pencil", "rubber", "ruler"]
pencil_case[1]

str

In [8]:
pencil_case[1] = "pen2"
pencil_case[1]

'pen2'

In [7]:
type(pencil_case[-1])

str

In [9]:
pencil_case[1:4]

['pen2', 'rubber', 'ruler']

In [10]:
pencil_case[1:]

['pen2', 'rubber', 'ruler']

In [15]:
len(pencil_case)

4

In [11]:
mixed_list = [[1,2,3], ["pen", "pencil", "rubber", "ruler"]]

In [14]:
mixed_list[1][1]

'pencil'

In [16]:
numbers = [1,2,3]
letters = ["a", "b", "c", "d"]

In [17]:
numbers + letters

[1, 2, 3, 'a', 'b', 'c', 'd']

In [19]:
friends = []
while True:
    friend = input("Enter a friend's name: ")
    if friend == "exit":
        break
    friends.append(friend)
    print(friends)

['joao']
['joao', 'maria']
['joao', 'maria', 'bob']

In [1]:
car = {brand : "Ford", model : "Focus", year : 2023}
car

NameError: name 'brand' is not defined

#DICTIONARY

In [4]:
while True:
    names={}
    input_name = input("Enter a name: ")

    if input_name == "exit":
        print(names)
        break
    elif input_name in names:
        print("Name already in the dictionary")
    else:
        names[input_name] = input("Enter your age: ")
        print(names)

{'joao': ''}
{}

In [ ]:
picnic = {"sandwiches" : 4, "apples" : 12, "cups" : 4, "cookies" : 8000}

print("i will take" + str(picnic.get("apples", 0)) + "apples")

#COUNT LETTERS IN A STRING

In [6]:
string = "Mary had a little lamb"
count = {}

for i in string.lower():
    count[i] = count.get(i, 0) + 1

count

{'m': 2,
 'a': 4,
 'r': 1,
 'y': 1,
 ' ': 4,
 'h': 1,
 'd': 1,
 'l': 3,
 'i': 1,
 't': 2,
 'e': 1,
 'b': 1}

#CLASSES

In [7]:
class myFirstClass:
    welcome = "Hello world"
    def welcome_method(self):
        return self.welcome

In [6]:
my_first_instance = myFirstClass()
my_first_instance.welcome_method()

'Hello world'

In [14]:
class Employee:
    total_number_of_employees = 0
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        Employee.total_number_of_employees += 1
    
    def present_total_numbers_of_employee(self):
        print("Total number of employees: {}".format(Employee.total_number_of_employees))
    
    def present_employee(self):
        print("Name: {}, Age: {}, Salary: {}".format(self.name, self.age, self.salary))

In [15]:
employee = Employee("Mary", 25, 1000)
employee.present_employee()

employee2 = Employee("John", 30, 2000)
employee2.present_employee()

employee.present_total_numbers_of_employee()

Name: Mary, Age: 25, Salary: 1000
Name: John, Age: 30, Salary: 2000
Total number of employees: 2

In [17]:
class Car:
    total_number_of_cars = 0
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
        Car.total_number_of_cars += 1

    def present_car(self):
        print("Brand: {}, Model: {}, Year: {}".format(self.brand, self.model, self.year))

In [18]:
car1 = Car("Ford", "Focus", 2023)
car1.present_car()

car2 = Car("Toyota", "Corolla", 2023)
car2.present_car()

Brand: Ford, Model: Focus, Year: 2023
Brand: Toyota, Model: Corolla, Year: 2023